#head {
    font-size: 50px;
    padding-top: 30px;
    padding-bottom: 20px
}

nav {
    padding-bottom: 20px
}

.info:first-letter {
    font-size: 30px;
}

.hrefc {
    color: black
}

.hvc:hover {
    color: gray
}

.cet {
    text-align: center;
}

.slash {
    background: url('http://cdn.zetawiki.com/png/slash.png');
    background-size: 100% 100%;
}
